#registration-div h2{
    display: inline;
}

table{
    width: 40%;
    border: 2px solid;
    text-align: center;
    border-collapse: collapse;
}

input{
    width:200px
}

table td,th{
    border: 2px solid;
}


input{
    border: 2px solid
}

button {
    border: 2px solid;
    background-color: beige; 
    border-radius: 9%;
}

#input-no-error, #maths-error , #english-error , #name-error , #lastname-error {
    color: rgb(180, 7, 7);
    font-weight: bold;
     display: none;
}

#basic-info , #basic-info-name , #basic-info-lastname {
    border: 1px solid;
    border-radius: 5px;
    opacity: 0.9;display: none;
}
