<html>
    <title>Form</title>
    <body>
        <form action="/postdetails" method="POST">
            <lable>Name :</lable>
            <input type="text" name="name" value=""><br>
            <label>Maths :</label>
            <input type="number" name="maths" value=""><br>
            <label>English</label>
            <input type="number" name="english" value=""><br>
            <input type="radio" name="grp1" value="Next User">Next User</input><br>
            <input type="radio" name="grp1" value="Next">Sort List</input>
            <br>
            <button type="submit">Send</button>
        </form>
    </body>
</html>