<html>
    <head>
        <title>Final</title>
    </head>
    <body>
        <% for (var i = 0 ; i <  data.length  ; i++) { %>   

            <label>Name : <%=data[i].name%></label> <br>
            <label>Maths : <%=data[i].maths%> </label><br>
            <label>English : <%=data[i].english%></label><br><br>
        <% } %>
        
    </body>
</html>